.app {
    min-height: 100vh;
}

header {
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-header h1 {
    font-family: 'Poppins', sans-serif;
}

.main-header {
    width: 85vw;
    align-items: flex-end;
    position: relative;
    z-index: 1;
}

.header-buttons {
    width: 30%;
    display: flex;
    justify-content: space-around;
}

.header-buttons button {
    margin-right: 20px;
    margin-left: 20px;
}